<h1>List of posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', user_post_path(@user, post) %> </td>
        <td><%= link_to 'Edit', edit_user_post_path(@user, post) %></td>
        <td><%= link_to 'Destroy',[@user, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Post', new_user_post_path(@user) %> |
<%= link_to 'Doubtful Posts', perverts_user_posts_path(@user) %> |

<h4> Amount of posts <%= quantity_posts %> </h4>

<h5> Current time <%= time_now %> </h5>