<p id="notice"><%= notice %></p>
<h2><%= link_to 'Had you seen Stalin?', stalin_user_post_path(@user, @post) %>  </h2>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>
